
$font-family-base: Montserrat;
$headings-font-family: Oswald;
$enable-grid-classes: false;
$primary: #2f3c48;
$secondary: #6f7f8c;
$success: #3e4d59;
$danger: #cc330d;
$info: #5c8f94;
$warning: #6e9fa5;
$light: #eceeec;
$dark: #497175;
$spacer: 1rem;
$border-width: 1px;
$btn-border-radius: .25rem;
$body-bg: #1E2B37;
$body-color: #ECEEEC;
$link-color: #e3380e;
$component-active-color: #ECEEEC;
$component-active-bg: #6E9FA5;
$headings-color: #5C8F94;
$text-muted: #dddddd;
$blockquote-small-color: #dddddd;
$input-bg: #406569;
$input-disabled-bg: #263e40;
$input-color: #ECEEEC;
$input-focus-bg: #6E9FA5;
$input-group-addon-bg: #6E9FA5;
$card-bg: $success;
$card-cap-bg: #6F7F8C;
$list-group-bg: #3E4D59;
$list-group-hover-bg: $primary;
$navbar-dark-color: rgba($white, .5);
$nav-link-disabled-color: $gray-500;
$nav-tabs-link-active-bg: $warning;
$nav-tabs-link-active-color: $body-color;
$navbar-light-color: $info;
$navbar-light-active-color: $warning;
$dropdown-bg: $info;
$dropdown-link-color: $light;
$dropdown-link-hover-color: $light;
$dropdown-link-hover-bg: #77aeb5;
$pagination-hover-bg: $secondary;
$pagination-bg: $success;
$pagination-color: $light;
$pagination-border-color: $dark;
$pagination-hover-color: #8fd0d9;
$pagination-hover-border-color: #60969c;
$pagination-disabled-bg: $body-bg;
$pagination-disabled-color: #caccca;
$pagination-disabled-border-color: $body-bg;
$jumbotron-bg: $success;
$card-cap-color: $light;
$card-color: $light;
$tooltip-color: $light;
$tooltip-bg: $success;
$popover-bg: $success;
$toast-color: $light;
$toast-background-color: $success;
$modal-content-bg: $success;
$modal-content-color: $light;
$close-color: $light;
$alert-bg-level: -3;
$alert-border-level: -4;
$alert-color-level: 5.5;
$progress-bar-color: $light;
$progress-bg: $secondary;
$progress-bar-bg: theme-color("warning");
$list-group-disabled-color: #b0b0b0;
$list-group-disabled-bg: $primary;
$list-group-action-color: #b0b0b0;
$figure-caption-color: $light;
$breadcrumb-bg: #38595c;
$breadcrumb-divider-color: $light;
$breadcrumb-active-color: $light;
$carousel-control-color: $light;
$carousel-indicator-active-bg: #38595c;
$carousel-caption-color: $light;
$kbd-color: $light;
$kbd-bg: $success;
$table-bg-level: -2;
$table-border-level: -2.5;
$table-dark-hover-color: $dark;
$table-dark-bg: $dark;
$table-dark-color: $light;
$input-placeholder-color: #c9c9c9;
$custom-control-label-disabled-color: #c9c9c9;
$custom-select-indicator-color: $light;
$form-feedback-valid-color: #66ff52;
$form-feedback-invalid-color: #ff4112;
$custom-control-indicator-disabled-bg: $secondary;
$custom-control-indicator-checked-disabled-bg: #5C8F94;
$link-hover-color: lighten($link-color, 25%);
$enable-responsive-font-sizes: true;