body {
    background-color: #19181A;
    color: #cccccc;
    font-family: 'Montserrat','Open Sans', 'Helvetica', 'Arial',  sans-serif;
    font-size: 14px;   
}

h2 {
    background-color: #19181A;
    color: #cccccc;
} 
