body {
    background-color: #19181A;
    color: #cccccc;
    font-family: 'Montserrat','Open Sans', 'Helvetica', 'Arial',  sans-serif;
    font-size: 43px;   
}

h2 {
    background-color: #19181A;
    border-color: #d1d7e0;
    border-left-width: 10px;
    border-right-width: 10px;
    border-style: solid;
    border-width: 3px;
    color: #cccccc;
    margin: 20px;
    padding: 40px;
} 
