@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/* Fix for scrollbar altering the position of elements */
html {
  overflow-y: scroll;
}

/* Main formatting for the majority of page text*/
body {
    background-color: #19181A;
    color: #cccccc;
    font-family: 'Montserrat','Open Sans', 'Helvetica', 'Arial',  sans-serif;
    font-size: 18px;   
    text-align: center;
}

p {
  margin-bottom: 2%;
}

/* Heading formatting for titles and subtitles */
h1 {
   background-color: #19181A;
   color: #cccccc;
   text-align: center;
   }
  
h2 {
   background-color: rgba(0,0,0,0);
   color: #cccccc;
   margin: 15px;
   padding: 12px;
   text-align: center;
   }
  
h3 {
   background-color: #19181A;
   color: #cccccc;
   text-align: center;
   }
   
/* Formatting for the page links at the top of the page */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #19181A;
  display: flex;
  justify-content: space-evenly;
   }
  
li {
  float: left;
  margin-bottom: 2%;
   }

li a {
  display: block;
  color: #cccccc;
  text-align: center;
  padding: 14px 150px;
  text-decoration: none;
  margin-bottom: 2%;
     }

li a:hover {
  background-color: #333333;
           }

/* Formatting for the Index page anbd the links on them */ 
#diePoor {
 box-sizing: border-box;
 width: 45%;
 height: 75px;
 float: left;
 margin-right: 5%;
 margin-bottom: 2%;
 transition: height 2s, color 1.5s;
 clear: left;
 background-image: url(WeAllDiePoor.png);
 background-color: rgba(47,47,48,0.2);
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 text-decoration: none;
 color: transparent;
 
}
 
#diePoor:hover { 
height: 350px;
color: #cccccc;
}
  
#dwelling {
 box-sizing: border-box;
 width: 45%;
 height: 75px;
 float: right;
 margin-left: 5%;
 margin-bottom: 2%;
 transition: height 2s;
 background-color: #2F2F30;
 clear: right;
 background-image: url(Dwelling.png);
 color: rgba(47,47,48,0.2);
 background-color: rgba(47,47,48,0.2);
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}

#dwelling:hover { 
height: 350px;
}

#crowdSim {
 box-sizing: border-box;
 width: 45%;
 height: 75px;
 float: left;
 margin-right: 4%;
 margin-bottom: 2%;
 transition: height 2s;
 background-color: #2F2F30;
 clear: left;
 background-image: url(CrowdSimulation.png);
 color: rgba(47,47,48,0.2);
 background-color: rgba(47,47,48,0.2);
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}

#crowdSim:hover { 
height: 350px;
}
  
#whiteRiver {
 box-sizing: border-box;
 width: 45%;
 height: 75px;
 float: right;
 margin-left: 4%;
 margin-bottom: 2%;
 transition: height 2s;
 background-color: #2F2F30;
 clear: right;
 background-image: url(ComingSoon.png);
 color: rgba(47,47,48,0.2);
 background-color: rgba(47,47,48,0.2);
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}
  
#whiteRiver:hover { 
height: 350px;
}
  
#box {
 box-sizing: border-box;
 width: 45%;
 height: 75px;
 float: left;
 margin-right: 4%;
 margin-bottom: 2%;
 transition: height 2s;
 background-color: #2F2F30;
 clear: left;
 background-image: url(Box.png);
 color: rgba(47,47,48,0.2);
 background-color: rgba(47,47,48,0.2);
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}

#box:hover { 
height: 350px;
}
  
#odbarEngine {
 box-sizing: border-box;
 width: 45%;
 height: 75px;
 float: right;
 margin-left: 4%;
 margin-bottom: 2%;
 transition: height 2s;
 background-color: #2F2F30;
 clear: right;
 background-image: url(ODBAR.png);
 color: rgba(47,47,48,0.2);
 background-color: rgba(47,47,48,0.2);
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}
  
#odbarEngine:hover { 
height: 350px;
}
  
#directX {
 box-sizing: border-box;
 width: 45%;
 height: 75px;
 float: left;
 margin-right: 4%;
 margin-bottom: 2%;
 transition: height 2s;
 background-color: #2F2F30;
 clear:left;
 background-image: url(DirectX.png);
 color: rgba(47,47,48,0.2);
 background-color: rgba(47,47,48,0.2);
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}

#directX:hover { 
height: 350px;
}
  
#chatroom {
 box-sizing: border-box;
 width: 45%;
 height: 75px;
 float: right;
 margin-left: 4%;
 margin-bottom: 2%;
 transition: height 2s;
 background-color: #2F2F30;
 clear: right;
 background-image: url(ChatRoom.png);
 color: rgba(47,47,48,0.2);
 background-color: rgba(47,47,48,0.2);
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}

#chatroom:hover { 
height: 350px;
}
  
#rayTrace {
 box-sizing: border-box;
 width: 45%;
 height: 75px;
 float: left;
 margin-right: 4%;
 margin-bottom: 2%;
 transition: height 2s;
 background-color: #2F2F30;
 clear:left;
 background-image: url(RayTrace.png);
 color: rgba(47,47,48,0.2);
 background-color: rgba(47,47,48,0.2);
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}
  
#rayTrace:hover { 
height: 350px;
}
  
#website {
 box-sizing: border-box;
 width: 45%;
 height: 75px;
 float: right;
 margin-left: 4%;
 margin-bottom: 2%;
 transition: height 2s;
 background-color: #2F2F30;
 clear: right;
 background-image: url(Website.png);
 color: rgba(47,47,48,0.2);
 background-color: rgba(47,47,48,0.2);
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}
  
#website:hover { 
height: 350px;
}

/* Formatting for the About page*/

#selfPicture {
 box-sizing: border-box;
 width: 20%;
 float: left;
 clear: left;
 margin-left: 4%;
 margin-bottom: 3%;
}

#aboutTextBody {
  margin-left: 3%;
  line-height: 1.3;
}

